<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nuwarobotics.sample.camera">
    <uses-permission android:name = "android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Remote Control Kebby  Server"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="AllowBackup">

        <activity
            android:name="com.nuwarobotics.sample.camera.FrameStreamingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>